*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: 100%;
}

.main{
  height: auto;
  width: 40%;
  margin: 5% auto;
}

.main h1{
  text-align: center;
  margin: 20px 0;
}

.main .addTodo{
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.addTodo input{
  height: 40px;
  width: 60%;
  padding-left: 20px;
}

.task-cont{
  margin: 50px;
}

.main .tasks{
  display: flex;
  /* background-color: aqua; */
  gap: 10px;
  line-height: 50px;
  justify-content: space-between;
}

.tasks p{
  margin: 2px;
}

.btns{
  display: flex;
  gap: 20px;
}

.btns button{
  height: 40px;
  margin: 10px 0;
}
