* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

/* left part ..BROWSE.. */
.left-section {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 20px;
}

.left-section h2 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  /* text-shadow: 0 0 8px rgba(130, 184, 227, 0.3); */
}

.left-section .features {
  margin: 20px 0px 10px 0px;
  line-height: 50px;
}

.left-section .features h3 {
  display: flex;
  gap: 12px;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  padding: 0 10px;
  color: white;
}

.features h3:hover {
  font-size: 20px;
  color: whitesmoke;
  padding-left: 10px;
}

.features:hover {
  background: rgba(255, 255, 255, 0.1); /* subtle highlight */
  border-radius: 8px;
  transition: background 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.left-section .moodBoard {
  margin: 22px 0;
  color: #3d3d3d;
}

.moodBoard h3 {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-size: 22px;
  color: white;
  /* text-shadow: 0 0 8px rgba(15, 15, 15, 0.3); */
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 8px;
}

.moodBoard ul {
  margin: 20px 0;
}

.moodBoard ul li {
  list-style: none;
  margin: 18px 5px;
}

.moodBoard ul li a {
  text-decoration: none;
  transition: 0.2s;
  padding: 5px;
  color: white;

}

.moodBoard ul li a:hover {
  background-color: #122329;
  border-radius: 50px;
  padding: 8px;
  color: white;
}

/* right section ...MusicSect... */

.right-section {
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  overflow-y: auto;
  background: transparent;
}

.right-section .navigation {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

/* search */
.navigation .search-cont {
  width: 40%;
  height: 40px;
  border: 0.1rem solid white;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0 2%;
  gap: 14px;
  padding: 20px;
  margin: 30px 5%;
}

.search-cont input {
  border: none;
  background-color: transparent;
  width: 80%;
  height: 20px;
  color: white;
  outline: none;
}

.search-cont input::placeholder {
  color: white;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* profile */

.profile-cont {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
}

.profile-cont button {
  padding: 10px;
  width: 100%;
  background-color: black;
  border: 0.1rem solid black;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.1s ease;
}

.profile-cont button:hover {
  background-color: transparent;
  color: white;
  border: 0.1rem solid white;
  cursor: pointer;
}

/* song suggestion --new release-- */

.song-suggestion {
  height: 300px;
  width: 90%;
  margin: 2% auto;
}

.song-suggestion h2 {
  font-size: 30px;
  letter-spacing: 1px;
  color: white;
  padding: 10px 0;
}

.songs-cont {
  height: 250px;
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 30px;
  margin-top: 20px;
  color: white;
}

.song-card {
  height: auto;
  width: 16%;
}

.song-card img {
  height: 150px;
  width: 100%;
  object-fit: fill;
  border-radius: 5px;
}

.song-card h3 {
  margin-top: 10px;
}

.song-card p {
  font-weight: 100;
  padding-top: 10px;
  font-size: 14px;
}

.traked-songs {
  height: 300px;
  width: 100%;
  background-color: darkgrey;
  margin: 5% 0;
}
